
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 980px;
    flex-wrap: wrap;
  }
  .navbar a{
    color: #111;
  }
  .navbar a.active{
    color: royalblue;
  }